{% extends "lab_8/layout/base.html" %}
{% block content %}
<section name="postFeed" id="postFeed">
    </br>
    </br>
    <h1 style="text-align:center; color:#2E4DA7"> Facebook Login </h1>
    <div class="container" >
        </br>
            <div id = "lab8" style = "padding-top:10px; font:normal">
            </div>
    </div>
</section>

{% endblock %}
