{% extends "lab_4/layout/base.html" %}
{% block content %}
{%load staticfiles%}
    <h1 style="text-align:center;background-color:#fbece9"><strong><em>Portofolio</em></strong></h1>
    <hr/>
	<img class="img-circle" src= "https://preview.ibb.co/dBcd9Q/foto.jpg" alt=" Thrisnadevany Amalia"  width = "150" height = "150" align = "center"/>
    <section name="bio">
        <h2 style="text-align:center;background-color:#fbece9">Bio</h2>
        <p style= "background-color:White">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="text-align:center;background-color:#fbece9">List</h2>
        <ul style= "background-color:White">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2 style="text-align:center;background-color:#fbece9">Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
	
	